*{
  margin: 0px auto;
}

body {
  background: url(img/fondo.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: 'Indie Flower', cursive;
  width: 100%;
  height: 100%;
}
#menu{
  text-align: center;
  background-color: rgb(69, 69, 255);
  font-size: 30px;
  font-weight: bolder;
  position: fixed;
  width: 100%;
  border-bottom: 2px black solid;

}
#menu li{
  display: inline;

}

div#header{
  text-align: center;
  background-color: green;
  border: 2px black solid;
  padding-top: 5%;
  margin-bottom: 2%;
}
div#cookieEU{
  border: 1px black solid;
  text-align: center;
  position: fixed;
  top: 30%;
  left: 20%;
  right: 25%;

  background-color: white;
}
div#textCookie{
 text-align: center;
 padding: 1px;
}
div#textCookie a{
  text-align: center;
  background-color: green;

  font-size: 20px;
  color: red;
}



#image1{
  float: right;
  margin-right: 5px;
  margin-left: 10px;


}
#image2{
  float: left;
  margin-right: 2% ;
  margin-bottom: 1%;
}

#image {
  text-align: right;
  margin-right: 60px;
}
#textOverflow {

  overflow-y: scroll; 
  overflow-x: hidden;

  text-align: justify
  ;
  border: 5px solid black;
  background-color: white;

  float: left;
  height: 40%;
  width: 80%;

  
}

#textCentral {
overflow-y: scroll; 
  overflow-x: hidden;

  text-align: justify;
  border: 5px solid black;
  background-color: white;



  text-align: justify;

  float: left;

  width: 70%;




}
#textMain{

text-align: center;
overflow-y: scroll;

width: 70%;


float:left;
clear:left;
height: 40%;


}

#anillo{
  text-align: center;
  margin-bottom: 2%;
  font-size: 20px;
}
#footer{
  background-color: red;
  text-align: center;
  top: 3px;
  border-top: 2px black solid;
  width: 100%;
  clear: both;

}
aside{
  float: right;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;

  background-color: black;


}

