
body{
    width: 100%;
    height: 700px;
    display: flex;
  align-items: center;
  justify-content: center;

}
.padre{
 border: 2px black solid;
 display: flex;
 align-items: center;
 flex-direction: column;
 border-radius: 10%;
 flex-wrap: nowrap;
 width: 280px;
 height:350px;
 box-shadow: 3px 3px 3px grey;

}
.titulo{
    flex-direction: row;
    background-color: gray;
    width: 90%;
    /* height: 20%; */
    display: flex;
    align-items: center;
    margin: 20px;
    

    
}
.circulo{
    border: 1px black solid;
    background-color: aqua;
    border-radius: 50%;
    flex-basis: 100px;
    height: 100px;
    /* width: 50%; */
    order: 0;
}

.nombre{
}
.direccion{
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-left: 10%;
    align-items: center;
}

.bio{
    align-items: center;
    text-align: justify;
}
.bio p{
    margin: 2%;
}
.estadisticas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 5%;
    width: 90%;
    margin-top: 2%;
    border-top: 1px rgb(153, 147, 147) solid;

}
.estadisticas *{
    margin-top: 3%;
}
.Accion{
display: flex;

width: 100%;
}
.seguir{
    border:blue 1px solid;
background-color: blue;
width: 50%;
text-align: center;
padding-top: 2px;
padding-bottom: 2px;
border-radius: 8%;
margin-left: 10%;
margin-right: 10%;
}
.seguir a{
    color:white;
    text-decoration:none;
    width: 100%;
}
.Msn{
     border:grey solid;
background-color: grey;
width: 20%;
text-align: center
;
padding-top: 2px;
padding-bottom: 2px;
border-radius: 8%;
margin-left: 10%;
margin-right: 10%;
}
.Msn a{




}