body {
    text-align: center;
   background-image: url(../images/fondo.jpg) ;
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
}

h1 {
    color: red;
    background-color: yellow;
    border-style: solid;
    border-color: rgb(38, 0, 255);
    font-family: "BBH Sans Hegarty", sans-serif;
}

img {
    border: 4px black solid;
    border-radius: 20px;
    width: 300px;
}

ul {
}

li {
    list-style: none;
    display: inline;
    border: 4px black solid;
    font-family: "BBH Sans Hegarty", sans-serif;
}

