*{



}

body {
  background-color: rgb(228, 202, 252);
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

h1 {
    margin-top: 0px;
    text-align: center;
    border-bottom: 5px black solid;
    background-color: rgb(221, 209, 233);
    margin-bottom: 10px;

}


 div img{
border: 5px black solid;

margin-right: 60px;
margin-bottom: 10px;

}
div #image{
    text-align: right;

}

div #content{

}

div p{
    margin:auto;
    margin-bottom: 10px;
    break-after: auto;
    box-shadow: 5px 5px 1px grey ;
    text-indent: 40px;
    padding: 10px;
    border: 5px black solid;
    border-style: dashed;
    background-color: rgb(215, 171, 255);
    width: 90%;
    height: 90%;
    text-align: center;

}
div p:first-child{
    border: 5px black solid;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-style: dashed;
    
    background-image: url(../images/fondoParrafo.png) ;
}
div p:last-child{
    border: 5px black solid;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-style: dashed;
}

ul {
    text-align: center;

}

li {
    border-left: 5px red solid;
    display: inline;
    a{
        text-decoration: none;
    }
}

p{

}

#header {
  
}

#content{
    text-align: center;
  
}

#text {
    
  
}

#text p {
  
}

#text p:first-child {
  
}

#text p:last-child {

}

#menu {

}

#menu a{

}


#menu li{

}

#menu li a:hover{

}

#footer{
    border-top: 5px black solid;
    text-align: center;
    color: white;
    
    

}

#footer a{
    color: white;
        text-decoration-line: none;

    
}

#footer a:hover{

}
#image {

}

@media all and (max-width: 500px) {
         div #image{
    text-align: center;


}
    div img{
        border: red solid;
        width: 90%;
        height: 90%;

        margin: 0%;
        
    }



    
     a:hover{
        
        text-decoration: underline red solid;
        
    }

}
